---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="About">
    <section class="px-8% py-10 flex flex-col gap-20 text-white">
        <article class="flex flex-col gap-7">
            <span class="flex gap-1 justify-center items-center">
                <h1 class="text-2xl text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">Companies that support us</h1>
                <img class="w-6" src="/images/arrow.svg" alt="">
              </span>
              <div class="flex justify-center items-center gap-10 flex-wrap">
                <img class="w-14" src="/images/amazon.svg" alt="">
                <img class="w-14" src="/images/apple.svg" alt="">
                <img class="w-14" src="/images/android.svg" alt="">
                <img class="w-14" src="/images/bankin.svg" alt="">
                <img class="w-14" src="/images/brave.svg" alt="">
                <img class="w-14" src="/images/facebook.svg" alt="">
                <img class="w-14" src="/images/dropbox.svg" alt="">
                <img class="w-14" src="/images/samsung.svg" alt="">
              </div>
        </article>

        <article class="flex flex-col gap-5">
            <span class="flex gap-1  items-center">
                <h1 class="text-2xl text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 font-semibold">our history</h1>
                <img class="w-6" src="/images/arrow.svg" alt="">
              </span>
              <div class="flex justify-between items-center flex-wrap">
                <p class="max-w-3xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit ex illo odio dolorum veritatis, iste, ea quod laudantium doloremque iusto quo. Fugit asperiores deserunt excepturi in commodi debitis velit possimus.
                Excepturi, sint laborum. Fugiat ducimus voluptatum rerum dignissimos modi autem, inventore beatae in velit. Sunt ipsum sed officia sit, soluta molestiae eos libero expedita architecto, error cumque! Repudiandae, beatae consequatur.
                Possimus magnam eius asperiores culpa temporibus? Explicabo, ab sit laboriosam repudiandae, perferendis nulla dignissimos ducimus accusamus, eos dicta repellendus atque cum commodi ipsam? Culpa placeat saepe, doloremque expedita eveniet fugit? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat odit consectetur tempore eum aliquid, ea saepe et culpa modi voluptatem eveniet itaque nesciunt laboriosam eaque. Vero possimus expedita numquam deleniti!</p>
                <img class="w-80" src="/images/history.svg" alt="">
              </div>
        </article>
    </section>
    <Footer/>
</Layout>