---
import Layout from '../layouts/Layout.astro';
---

<Layout title="home">
	<section class="home px-8% text-white gap-4">
		<h1 class="text-6xl max-w-2xl font-semibold">Estilo para cada aventura, encuentra tu inspiración en cada prenda.</h1>
		<p class="max-w-2xl ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit est hic incidunt nobis omnis. Lorem ipsum, dolor sit amet consectetur </p>

		<div class="flex gap-4">
			<a class="button" href="">Products</a>
			<a class="button" href="">Contact</a>
		</div>
	</section>
</Layout>

<style>
	.home{
		background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/images/bg.webp);
		width: 100%;
		min-height: 92vh;
		background-position:center;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	
</style>

