---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Products">
    <section class="text-white">
        <h1 class="text-white">hola</h1>
        <a href="/products/clifford">detalles</a>
    </section> 
</Layout>