---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Products">
    <section>
        <h1 class="text-white">Lorem 
        </h1>
        <Footer/>
    </section>
</Layout>