---
import Layout from "../layouts/Layout.astro";
import Cards from "../components/Cards.astro";
---

<Layout title="Products">
    <section class="text-white">
        <Cards/>
    </section> 
</Layout>