---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Productos from "../components/Products";
---

<Layout title="Products">
    <section>
        <Productos/>
        <Footer/>
    </section>
</Layout>