<section>
  <main>
    <img src="/images/img1.webp" alt="" />
    <h2>Lorem ipsum</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <h4>Details</h4>
      <h4>price: 20$</h4>
    </span>
  </main>

  <main>
    <img src="/images/img2.webp" alt="" />
    <h2>Lorem ipsum</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <h4>Details</h4>
      <h4>price: 20$</h4>
    </span>
  </main>

  <main>
    <img src="/images/img3.webp" alt="" />
    <h2>Lorem ipsum</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <h4>Details</h4>
      <h4>price: 20$</h4>
    </span>
  </main>

  <main>
    <img src="/images/img4.webp" alt="" />
    <h2>Lorem ipsum</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <h4>Details</h4>
      <h4>price: 20$</h4>
    </span>
  </main>

  <main>
    <img src="/images/img5.webp" alt="" />
    <h2>Lorem ipsum</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <h4>Details</h4>
      <h4>price: 20$</h4>
    </span>
  </main>

  <main>
    <img src="/images/img6.webp" alt="" />
    <h2>Lorem ipsum</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <span>
      <h4>Details</h4>
      <h4>price: 20$</h4>
    </span>
  </main>
</section>

<style>
    main{
        width: 320px;
        height: 420px;
        border: 2px solid white;
    }
</style>
