<footer class="footer w-full text-white px-8%">
  <article>
    <span>
      <h3>JAMYPAGE</h3>
      <p>
        Feel free to give it another try, your persistence and determination
        will lead you to success.
      </p>
    </span>
    <div>
       <h3>Company</h3>
       <span>Home</span>
       <span>Privacy Policy</span>
       <span>About us</span>
    </div>

    <div>
        <h3>Services</h3>
        <span>market</span>
        <span>purchase</span>
        <span>change</span>
     </div>

     <span>
        <h3>Contact</h3>
        <a href="#"><img class="w-6" src="/images/linkedin.svg" alt=""></a>
        <a href="#"><img class="w-6" src="/images/github.svg" alt=""></a>
     </span>
  </article>
  <article>
    
  </article>
</footer>

<style>
  .footer{
    min-height: 50vh ;
  }
</style>
