<header
  class="sticky top-0 w-full h-8vh bg-white text-black flex justify-between items-center px-8%"
>
  <span class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600 text-2xl">JAMYPAGE</span>
  <nav class="flex gap-10 font-semibold">
    <a href="#">Home</a>
    <a href="#">Products</a>
    <a href="#">About</a>
  </nav>
  <article class="flex justify-center items-center gap-2">
      <a href="#"><img class="w-6" src="/images/github.svg" alt="" /></a>
      <a href="#"><img class="w-7" src="/images/linkedin.svg" alt="" /></a>
  </article>
</header>
