<header
  class=" header sticky top-0 w-full h-8vh bg-white text-black px-8%"
>
  <span class="flex items-center justify-start font-bold text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600 text-xl">JAMYPAGE</span>
  <nav class="flex justify-center items-center gap-10 nav">
    <a href="#"><span  class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600">H</span>ome</a>
    <a href="#"><span  class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600">P</span>roducts</a>
    <a href="#"><span  class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600">A</span>bout</a>
  </nav>
  <article class=" h-full flex justify-end items-center gap-2">
      <a href="#"><img class="w-6" src="/images/github.svg" alt="" /></a>
      <a href="#"><img class="w-6" src="/images/linkedin.svg" alt="" /></a>
      <a href="#"><img class="w-6" src="/images/youtube.svg" alt="" /></a>
  </article>
</header>
<style>
  .header{
    display: grid;
    grid-template-columns: 25% 50% 25%;
  }

  .nav{
    font-weight: 500;
    letter-spacing: 1px;
  }
</style>
