<header class="mobile "  transition:animate="none">
  <nav class="nav-mobile">
    <a href="/"><img class="w-6" src="/images/home.svg" alt="" /></a>
    <a href="/products"><img class="w-6" src="/images/projects.svg" alt="" /></a
    >
    <a href="/about"><img class="w-6" src="/images/about.svg" alt="" /></a>
    <span class="h-full flex justify-end items-center gap-4 z-10">
      <a target="_blank" href="https://github.com/MINOTAURO18"
        ><img class="w-6" src="/images/github.svg" alt="" /></a
      >
      <a
        target="_blank"
        href="https://www.linkedin.com/in/alexander-mu%C3%B1oz-4959a0255/"
        ><img class="w-6" src="/images/linkedin.svg" alt="" /></a
      >
    </span>
  </nav>
  <span class="item"></span>
  <span class="item2"></span>
  <span class="item3"></span>
</header>

<style>
  .mobile {
    display: none;
  }

  @media (width < 650px) {
    .mobile {
      position: absolute;
      position: fixed;
      bottom: 0;
      background-color: rgb(0, 0, 0);
      width: 100%;
      height: 8vh;
      display: flex;
      z-index: 20;
    }
    .nav-mobile {
      width: 80%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  span.item {
    position: absolute;
    top: 5px;
    right: 0;
    width: 65px;
    height: 30px;
    /* transform: rotate(90deg) skewX(-12deg); */
    border-radius: 1.5rem;
    background-color: #008697;
    filter: blur(1.1rem);
    opacity: 0.8;
    display: none;
    z-index: -1;
  }

  @media (width > 400px) {
    span.item {
      right: 100px;
      opacity: 0.8;
      display: block;
    }
  }

  span.item2 {
    position: absolute;
    top: 7px;
    left: 20px;
    width: 85px;
    height: 25px;
    border-radius: 1rem;
    background: linear-gradient(35deg, blue, violet);
    filter: blur(1.1rem);
    opacity: 0.8;
    display: none;
    z-index: -1;
  }

  @media (width > 400px) {
    span.item2 {
      right: 100px;
      opacity: 0.8;
      display: block;
    }
  }

  span.item3 {
    position: absolute;
    top: 5px;
    left: 58%;
    width: 130px;
    height: 25px;
    border-radius: 1rem;
    background: linear-gradient(35deg, rgb(0, 255, 170), rgb(0, 24, 240));
    filter: blur(1.1rem);
    opacity: 0.8;
    display: none;
  }

  @media (width > 400px) {
    span.item3 {
      right: 100px;
      opacity: 0.8;
      display: block;
    }
  }
</style>
