<header class="mobile">
    <nav>
        <a href="#"><img src="/images/home.svg" alt=""></a>
        <a href="#"><img src="/images/projects.svg" alt=""></a>
        <a href="#"><img src="/images/about.svg" alt=""></a>
    </nav>
</header>

<style>
    .mobile{
        display: none;
    }
</style>